$primary-10:#251A00;
$primary-80:#F6BE31;
$neutral-95:#F7EFE7;
$neutral-90:#E9E1D8;
$neutral-80:#CCC5BD;
$neutral-20:#33302A;
$neutral-25:#3F3B35;
$neutral-40:#625E57;
$neutral-10:#1E1B16;
$white:#fff;
$warning: #BA1A1A;
$sucess: #B0CFAA;
$gradient-black: linear-gradient(108.42deg, #000000 0%, #1E1B16 100%);
$gap: 1rem;