.btn-cta {
  text-transform: uppercase;
  background-color: $primary-80;
  color: $primary-10;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;

  &:hover {
    background-color: #f6be31d8;
  }
}
.btn-link {
  color: $neutral-80;
  font-weight: 500;
  &:hover{
    color: $primary-80;
  }
}