.header {
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar  {
  z-index: 2;
}
.navbar-collapse {
  @media (max-width: 991.98px) { 
    background-color: $neutral-10;
    padding-top:1rem;
  }
}
.navbar-toggler {
  background: $primary-80;
}
.nav-link {
  text-transform: uppercase !important;
  color:$white;
}
.nav-link:hover {
  color: $primary-80;
}